@charset "UTF-8";
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-telegram:before {
  content: "\e902";
}

._icon-etsy:before {
  content: "\e903";
}

._icon-youtube:before {
  content: "\e904";
}

._icon-arrow:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "OpenSans";
  font-size: 1.1875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "OpenSans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #54523b;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 76.6875rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  color: #000;
}
.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}
@media (max-width: 29.99875em) {
  .header {
    padding-top: 3.125rem;
    padding-bottom: 1.25rem;
  }
}
.header__container {
  display: flex;
  justify-content: center;
}
.header__wrapper {
  position: relative;
  transform: translateX(-63px);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}
@media (max-width: 61.99875em) {
  .header__wrapper {
    transform: none;
  }
}
@media (max-width: 47.99875em) {
  .header__wrapper {
    grid-template-rows: repeat(2, auto);
  }
}
.header__wrapper-item {
  align-self: center;
}
.header__logo {
  position: relative;
  grid-area: 1/1/4/2;
  margin-right: -1.0625rem;
  z-index: 2;
}
.header__logo img {
  width: 7.25rem;
  height: 7.4375rem;
}
@media (max-width: 47.99875em) {
  .header__logo img {
    width: 5.625rem;
    height: 5.76875rem;
  }
}
@media (max-width: 29.99875em) {
  .header__logo {
    grid-area: 2/1/3/2;
    top: 50%;
    transform: translateY(-50%);
  }
}
.header__block {
  position: relative;
  padding-top: 3px;
}
.header__subtitle {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 2px;
  min-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 29.99875em) {
  .header__subtitle {
    grid-area: 1/1/2/3;
    font-size: 18px;
  }
}
.header__title {
  font-size: 23px;
  line-height: 1.5;
  letter-spacing: 5.3px;
  text-transform: uppercase;
  background-color: #882929;
  padding: 0 2.9375rem 0 3.5625rem;
}
@media (max-width: 47.99875em) {
  .header__title {
    padding: 0 1.6875rem 0 1.6875rem;
  }
}
@media (max-width: 29.99875em) {
  .header__title {
    padding: 0 0.625rem 0 1.6875rem;
    grid-area: 2/2/3/3;
    font-size: 25px;
  }
}
.header__menu {
  padding-left: 0.9375rem;
}

.menu__list {
  display: flex;
  justify-content: center;
  padding-top: 4px;
}
@media (max-width: 47.99875em) {
  .menu__list {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s ease 0s;
    background-color: #252615;
    flex-direction: column;
    padding: 4.375rem 1.875rem 1.875rem;
  }
  .menu-open .menu__list {
    transform: translateX(0);
  }
}
.menu__item:not(:last-child) {
  margin-right: 1.25rem;
}
@media (max-width: 47.99875em) {
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0.625rem;
  }
}
.menu__link {
  font-size: 0.9375rem;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  transition: border-bottom 0.3s ease 0s;
  border-bottom: 1px solid transparent;
}
@media (any-hover: hover) {
  .menu__link:hover {
    border-bottom: 1px solid #fff;
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.1875rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: fixed;
    top: 1.875rem;
    right: 1.875rem;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 25;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.footer__block {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3.125rem;
  row-gap: 0.9375rem;
  flex-wrap: wrap-reverse;
}
.footer__email {
  color: #2b2a1f;
  font-size: 1.375rem;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer a:hover {
    color: #878a6a;
  }
  .footer a:hover::before {
    color: #878a6a;
  }
}

.social-footer {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.social-footer__link::before {
  transition: color 0.3s ease 0s;
  font-size: 1.5625rem;
  color: #2f3024;
}
.social-footer__link:nth-child(3)::before {
  font-size: 1.375rem;
}

.page {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
@media (max-width: 47.99875em) {
  .page {
    padding-top: 1.875rem;
    padding-bottom: 0.625rem;
  }
}
.page__row-gallery {
  margin-bottom: 0.875rem;
}
@media (max-width: 29.99875em) {
  .page__row-gallery {
    margin-bottom: 2.1875rem;
  }
}

.row-gallery {
  padding-right: 1.5625rem;
}
@media (max-width: 81.25rem) {
  .row-gallery {
    padding-right: 0;
  }
}
.row-gallery__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.1875rem, 1fr));
  row-gap: 1.5625rem;
  padding-left: 0.9375rem;
  padding-right: 2.8125rem;
  margin-bottom: 0.3125rem;
}
@media (max-width: 81.25rem) {
  .row-gallery__items {
    padding-right: 0.9375rem;
  }
}
@media (max-width: 29.99875em) {
  .row-gallery__items {
    margin-bottom: 0.9375rem;
  }
}
@media (any-hover: hover) {
  .item-row-gallery:hover .item-row-gallery__image img {
    border: 0.1875rem solid #fff;
  }
  .item-row-gallery:hover .item-row-gallery__image::before {
    opacity: 0.3;
  }
  .item-row-gallery:hover .item-row-gallery__title {
    transform: scale(1.1);
  }
}
.item-row-gallery__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.item-row-gallery__image {
  margin-bottom: 0.625rem;
  flex: 0 1 auto;
  position: relative;
}
.item-row-gallery__image::before {
  content: "";
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  bottom: 0.1875rem;
  right: 0.1875rem;
  background-color: #000;
  border-radius: 0.1875rem;
  opacity: 0;
}
.item-row-gallery__image img {
  border: 0.1875rem solid #252615;
  border-radius: 0.1875rem;
  width: 16rem;
  height: 16rem;
}
.item-row-gallery__title {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.6px;
  text-align: center;
  transition: border-bottom 0.3s ease 0s;
  border-bottom: 1px solid transparent;
}

.footer-row-gallery {
  display: flex;
  align-items: center;
}
@media (max-width: 29.99875em) {
  .footer-row-gallery {
    justify-content: center;
  }
}
.footer-row-gallery__rectangle {
  flex: 0 0 3.4375rem;
  height: 3.4375rem;
  background-color: #2f3024;
}
@media (max-width: 29.99875em) {
  .footer-row-gallery__rectangle {
    display: none;
  }
}
.footer-row-gallery__strip {
  flex: 1 1 auto;
  height: 0.875rem;
  background-color: #444632;
}
@media (max-width: 29.99875em) {
  .footer-row-gallery__strip {
    display: none;
  }
}
.footer-row-gallery__title {
  font-size: 17px;
  /* line-height: 15.2; */
  letter-spacing: 2.3px;
  line-height: 1.2;
  padding: 0 0.625rem;
  flex: 0 1 auto;
  min-width: 16.25rem;
  height: 2.5rem;
  background-color: #2f3024;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer-row-gallery__title:hover {
    background-color: #3a3b29;
  }
}
@media (max-width: 29.99875em) {
  .footer-row-gallery__title {
    width: 100%;
  }
}

.wrapper {
  background-color: #4e4d3d;
}

.page_article {
  padding-top: 0;
}
.page_article .page__container {
  max-width: 73.125rem;
}
.article {
  display: flex;
  gap: 1.875rem;
}
@media (max-width: 72.5rem) {
  .article {
    flex-direction: column;
    align-items: center;
  }
}
.article__column {
  flex: 0 1 50%;
  min-width: 0;
  position: relative;
  min-height: 737px;
}
@media (max-width: 47.99875em) {
  .article__column {
    min-height: auto;
  }
}
.article__column:first-child {
  padding-top: 5rem;
  padding-left: 3.125rem;
  display: flex;
}
.article__column:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: left/contain no-repeat url("../img/frame.png");
  width: 100%;
  height: 100%;
}
@media (max-width: 47.99875em) {
  .article__column:first-child {
    padding-top: 1.875rem;
    padding-left: 0;
  }
  .article__column:first-child::before {
    display: none;
  }
}
.article__column:last-child {
  padding-top: 0.625rem;
  width: 100%;
}
.article__slider {
  transform: translate(22px, 16px);
}
@media (max-width: 47.99875em) {
  .article__slider {
    transform: none;
  }
}
.article__main-slider {
  margin-bottom: 2.375rem;
}
.article__thumbnail {
  display: flex;
  justify-content: center;
}
.main-slider {
  position: relative;
}
.main-slider__slider {
  width: 29.75rem;
  height: 29.75rem;
  border: 0.1875rem solid #252615;
  border-radius: 0.1875rem;
}
@media (max-width: 47.99875em) {
  .main-slider__slider {
    width: 25rem;
    height: 25rem;
  }
}
@media (max-width: 29.99875em) {
  .main-slider__slider {
    width: 18.125rem;
    height: 18.125rem;
  }
}
.main-slider__swiper {
  display: flex;
}
.main-slider__slide {
  position: relative;
  width: 29.375rem;
  height: 29.375rem;
  background-color: #54523c;
}
@media (max-width: 47.99875em) {
  .main-slider__slide {
    width: 24.625rem;
    height: 24.625rem;
  }
}
@media (max-width: 29.99875em) {
  .main-slider__slide {
    width: 17.75rem;
    height: 17.75rem;
  }
}
.main-slider__slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-slider__slide iframe {
  display: block;
  width: 100%;
  height: 70%;
  object-fit: contain;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.main-slider__navigation {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 0.9375rem;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.main-slider__navigation .swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
.main-slider__arrow {
  pointer-events: visible;
  cursor: pointer;
}
.main-slider__arrow::before {
  font-size: 2.5rem;
  opacity: 0.5;
  transition: all 0.3s ease 0s;
}
.main-slider__arrow_next::before {
  transform: rotate(180deg);
}

.thumbnail__slider {
  width: 22.5rem;
}
@media (max-width: 29.99875em) {
  .thumbnail__slider {
    width: 14.0625rem;
  }
}
.thumbnail__swiper {
  display: flex;
}
.thumbnail__slide {
  width: 4.25rem !important;
  height: 4.25rem;
  background-color: #53523b;
  border: 0.0625rem solid #252615;
  cursor: pointer;
  position: relative;
}
.thumbnail__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.3;
}
.thumbnail__slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.thumbnail__slide iframe {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.thumbnail__video {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail__video::before {
  font-size: 2.1875rem;
  opacity: 0.5;
}
.thumbnail .swiper-slide-thumb-active {
  border: 0.0625rem solid #fff;
}
.thumbnail .swiper-slide-thumb-active::before {
  opacity: 0;
}

.tabs-article__header {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 0.625rem;
}
@media (max-width: 47.99875em) {
  .tabs-article__header {
    flex-direction: column;
  }
}
.tabs-article__header-item {
  flex: 0 1 33.333%;
  font-size: 1.3125rem;
  letter-spacing: 1.1px;
  background-color: #353427;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.75rem;
  cursor: pointer;
}
.tabs-article__header-item._tab-active {
  background-color: #2b2a1f;
}
@media (max-width: 47.99875em) {
  .tabs-article__header-item {
    min-height: 2.5rem;
    font-size: 1.125rem;
  }
}
.tabs-article__body {
  background-color: #353427;
  padding: 2.0625rem 3.0625rem 1.875rem 3.125rem;
}
@media (max-width: 37.5rem) {
  .tabs-article__body {
    padding: 1.4375rem 0.9375rem 1.25rem 1.5625rem;
  }
}
.tabs-article__body-item {
  height: 35.9375rem;
}
.tabs-article__body-item:last-child h3 {
  text-align: right;
}
.tabs-article__body-item:last-child .tabs-article__body-inner {
  height: 20.25rem;
}
.tabs-article__body-wrapper {
  display: flex;
  flex-direction: column;
}
.tabs-article__body-wrapper h3 {
  font-size: 1.3125rem;
  letter-spacing: 1.1px;
  opacity: 0.32;
}
@media (min-width: 78.5625em) {
  .tabs-article__body-wrapper h3 {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.5625em) {
  .tabs-article__body-wrapper h3 {
    margin-bottom: clamp( 1.25rem , 0.6096584845rem  +  3.2017075774vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .tabs-article__body-wrapper h3 {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .tabs-article__body-wrapper h3 {
    font-size: 1.125rem;
  }
}
.tabs-article__body-inner {
  height: 30.625rem;
  overflow-y: auto;
  padding-right: 0.625rem;
  scrollbar-width: 4px;
  scrollbar-color: #ffffff transparent;
}
.tabs-article__body-inner::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  -webkit-overflow-scrolling: auto;
}
.tabs-article__body-inner::-webkit-scrollbar-track {
  background: transparent;
}
.tabs-article__body-inner::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #ffffff;
}
.tabs-article__body-inner p {
  font-size: 1.1875rem;
  letter-spacing: 0.2px;
  line-height: 1.6;
}
.tabs-article__body-inner p:not(:last-child) {
  margin-bottom: 1.8125rem;
}
@media (max-width: 61.99875em) {
  .tabs-article__body-inner p {
    font-size: 1.0625rem;
  }
}
.tabs-article__body-inner ul:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.tabs-article__body-inner li {
  font-size: 1.1875rem;
  letter-spacing: 0.2px;
  line-height: 1.6;
}
@media (max-width: 61.99875em) {
  .tabs-article__body-inner li {
    font-size: 1.0625rem;
  }
}
.tabs-article__body-inner em {
  font-size: 1.1875rem;
  letter-spacing: 0.2px;
  line-height: 1.6;
}
@media (max-width: 61.99875em) {
  .tabs-article__body-inner em {
    font-size: 1.0625rem;
  }
}
.tabs-article__price {
  font-size: 1.1875rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 600;
}
.tabs-article__email {
  font-weight: 500;
  margin-bottom: 1.875rem;
  margin-top: 1.5625rem;
  line-height: 1.4;
}
.tabs-article__email a {
  transition: border-bottom 0.3s ease 0s;
  border-bottom: 1px solid transparent;
}
@media (any-hover: hover) {
  .tabs-article__email a:hover {
    border-bottom: 1px solid #fff;
  }
}
.tabs-article__button {
  font-size: 1.375rem;
  background-color: #882929;
  padding: 0.3125rem 0.9375rem;
  transition: all 0.3s ease 0s;
  align-self: end;
  line-height: 1.3;
  border-radius: 1.25rem;
}
@media (any-hover: hover) {
  .tabs-article__button:hover {
    background-color: #661f1f;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
